In [19]:
import pandas as pd
import numpy as np
file_obj=pd.read_csv('iris.csv')

#To make a separate copy of this data
copy_file_obj=file_obj.copy()
print(copy_file_obj)
print(file_obj)
print(id(file_obj))
print(id(copy_file_obj))

copy=file_obj                   ## here both copy and file_obj is pointing towards the same object,,, hence it has same reference id and also changes in
print(id(copy))                         ## one variable will reflect to another one also
print(id(file_obj))

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]
     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]
1505391353616
1507461144976
1505391353616
1505391353616

## Using .head()

In [9]:
print(copy_file_obj.head())
copy_file_obj.head(2)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa

## Accessing some part of the data  ,,, .iloc[]

In [16]:
copy_file_obj.iloc[1:5,3:5]

   petal.width variety
1          0.2  Setosa
2          0.2  Setosa
3          0.2  Setosa
4          0.2  Setosa

## .shape and .dtypes

In [13]:
print(copy_file_obj.shape)
copy_file_obj.dtypes

(150, 5)

sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object

### .describe()

In [14]:
copy_file_obj.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## checking isnull and also total isnull in a column

In [15]:
print(copy_file_obj.isnull())
copy_file_obj.isnull().sum()

     sepal.length  sepal.width  petal.length  petal.width  variety
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

## Data Manuplating

## row .drop() by label

In [19]:
print(file_obj)
file_obj.drop(0, inplace=True)
print(file_obj)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]
     sepal.length  sepal.width  petal.length  petal.width    variety
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[149 rows x 5 columns]

## .drop() on the basis of index number

In [4]:
print(file_obj)
file_obj.drop(13,inplace=True)
file_obj.drop(file_obj.index[0:2],inplace=True)
print(file_obj)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]
     sepal.length  sepal.width  petal.length  petal.width    variety
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
6             4.6          3.4           1.4          0.3     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[147 rows x 5 columns]

## Accessing data on particular condition

In [3]:
c=copy[copy.variety=='Setosa']
c

    sepal.length  sepal.width  petal.length  petal.width variety
0            5.1          3.5           1.4          0.2  Setosa
1            4.9          3.0           1.4          0.2  Setosa
2            4.7          3.2           1.3          0.2  Setosa
3            4.6          3.1           1.5          0.2  Setosa
4            5.0          3.6           1.4          0.2  Setosa
5            5.4          3.9           1.7          0.4  Setosa
6            4.6          3.4           1.4          0.3  Setosa
7            5.0          3.4           1.5          0.2  Setosa
8            4.4          2.9           1.4          0.2  Setosa
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa
11           4.8          3.4           1.6          0.2  Setosa
12           4.8          3.0           1.4          0.1  Setosa
13           4.3          3.0           1.1          0.1  Setosa
14           5.8          4.0           1.2          0.2  Setosa
15           5.7          4.4           1.5          0.4  Setosa
16           5.4          3.9           1.3          0.4  Setosa
17           5.1          3.5           1.4          0.3  Setosa
18           5.7          3.8           1.7          0.3  Setosa
19           5.1          3.8           1.5          0.3  Setosa
20           5.4          3.4           1.7          0.2  Setosa
21           5.1          3.7           1.5          0.4  Setosa
22           4.6          3.6           1.0          0.2  Setosa
23           5.1          3.3           1.7          0.5  Setosa
24           4.8          3.4           1.9          0.2  Setosa
25           5.0          3.0           1.6          0.2  Setosa
26           5.0          3.4           1.6          0.4  Setosa
27           5.2          3.5           1.5          0.2  Setosa
28           5.2          3.4           1.4          0.2  Setosa
29           4.7          3.2           1.6          0.2  Setosa
30           4.8          3.1           1.6          0.2  Setosa
31           5.4          3.4           1.5          0.4  Setosa
32           5.2          4.1           1.5          0.1  Setosa
33           5.5          4.2           1.4          0.2  Setosa
34           4.9          3.1           1.5          0.2  Setosa
35           5.0          3.2           1.2          0.2  Setosa
36           5.5          3.5           1.3          0.2  Setosa
37           4.9          3.6           1.4          0.1  Setosa
38           4.4          3.0           1.3          0.2  Setosa
39           5.1          3.4           1.5          0.2  Setosa
40           5.0          3.5           1.3          0.3  Setosa
41           4.5          2.3           1.3          0.3  Setosa
42           4.4          3.2           1.3          0.2  Setosa
43           5.0          3.5           1.6          0.6  Setosa
44           5.1          3.8           1.9          0.4  Setosa
45           4.8          3.0           1.4          0.3  Setosa
46           5.1          3.8           1.6          0.2  Setosa
47           4.6          3.2           1.4          0.2  Setosa
48           5.3          3.7           1.5          0.2  Setosa
49           5.0          3.3           1.4          0.2  Setosa

## .iloc() vs loc

In [11]:
print(file_obj.head())
print(file_obj.iloc[0])  ## print row acc. to its index
print()
print(file_obj.loc[6])  ## print row acc. to its label

   sepal.length  sepal.width  petal.length  petal.width variety
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
sepal.length       4.7
sepal.width        3.2
petal.length       1.3
petal.width        0.2
variety         Setosa
Name: 2, dtype: object

sepal.length       4.6
sepal.width        3.4
petal.length       1.4
petal.width        0.3
variety         Setosa
Name: 6, dtype: object

## Add a new row

In [14]:
print(file_obj.tail())
file_obj.loc[150]=[1,2,3,4,'Setosa']
print(file_obj.tail())

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           1.0          2.0           3.0          4.0     Setosa
     sepal.length  sepal.width  petal.length  petal.width    variety
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           1.0          2.0           3.0          4.0     Setosa
150           1.0          2.0           3.0          4.0     Setosa

## Deleting and Adding column

In [17]:
#del file_obj['sepal.length']
del file_obj['sepal.width']
print(file_obj.head())

   petal.length  petal.width variety
2           1.3          0.2  Setosa
3           1.5          0.2  Setosa
4           1.4          0.2  Setosa
5           1.7          0.4  Setosa
6           1.4          0.3  Setosa

In [18]:
## Adding a column
file_obj['difference_pl_pw']=file_obj['petal.length']-file_obj['petal.width']
print(file_obj)

     petal.length  petal.width    variety  difference_pl_pw
2             1.3          0.2     Setosa               1.1
3             1.5          0.2     Setosa               1.3
4             1.4          0.2     Setosa               1.2
5             1.7          0.4     Setosa               1.3
6             1.4          0.3     Setosa               1.1
..            ...          ...        ...               ...
146           5.0          1.9  Virginica               3.1
147           5.2          2.0  Virginica               3.2
148           5.4          2.3  Virginica               3.1
149           3.0          4.0     Setosa              -1.0
150           3.0          4.0     Setosa              -1.0

[148 rows x 4 columns]

## Dealing with Nan data

In [20]:
print(file_obj.head())

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [21]:
file_obj.iloc[1:3,1:3]=np.nan
print(file_obj)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          NaN           NaN          0.2     Setosa
2             4.7          NaN           NaN          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

## Changing that NaN value with mean value

In [27]:
file_obj.sepal.width.fillna(file_obj.sepal.width.mean(),inplace=True)
file_obj.petal.length.fillna(file_obj.petal.lenght.mean(),inplace=True)
print(file_obj)

AttributeError: 'DataFrame' object has no attribute 'sepal'

## Handling string based data

In [41]:
#print(file_obj)
file_obj['Gender']='Male'
print(file_obj)
file_obj.iloc[0:4,5]='Female'
print(file_obj)

     sepal.length  sepal.width  petal.length  petal.width    variety Gender
0             5.1          3.5           1.4          0.2     Setosa   Male
1             4.9          NaN           NaN          0.2     Setosa   Male
2             4.7          NaN           NaN          0.2     Setosa   Male
3             4.6          3.1           1.5          0.2     Setosa   Male
4             5.0          3.6           1.4          0.2     Setosa   Male
..            ...          ...           ...          ...        ...    ...
145           6.7          3.0           5.2          2.3  Virginica   Male
146           6.3          2.5           5.0          1.9  Virginica   Male
147           6.5          3.0           5.2          2.0  Virginica   Male
148           6.2          3.4           5.4          2.3  Virginica   Male
149           5.9          3.0           5.1          1.8  Virginica   Male

[150 rows x 6 columns]
     sepal.length  sepal.width  petal.length  petal.width    variety  Gender
0             5.1          3.5           1.4          0.2     Setosa  Female
1             4.9          NaN           NaN          0.2     Setosa  Female
2             4.7          NaN           NaN          0.2     Setosa  Female
3             4.6          3.1           1.5          0.2     Setosa  Female
4             5.0          3.6           1.4          0.2     Setosa    Male
..            ...          ...           ...          ...        ...     ...
145           6.7          3.0           5.2          2.3  Virginica    Male
146           6.3          2.5           5.0          1.9  Virginica    Male
147           6.5          3.0           5.2          2.0  Virginica    Male
148           6.2          3.4           5.4          2.3  Virginica    Male
149           5.9          3.0           5.1          1.8  Virginica    Male

[150 rows x 6 columns]

## Changing string to numeric value to apply mathematical operations on it

In [42]:
##using .apply() function            Changing string to numeric value to apply mathematical operations on it
def f(s):
    if s=='Male':
        return 1
    else:
        return 0

file_obj['sex']=file_obj.Gender.apply(f)
print(file_obj)
del file_obj['Gender']
print(file_obj)

     sepal.length  sepal.width  petal.length  petal.width    variety  Gender  \
0             5.1          3.5           1.4          0.2     Setosa  Female
1             4.9          NaN           NaN          0.2     Setosa  Female
2             4.7          NaN           NaN          0.2     Setosa  Female
3             4.6          3.1           1.5          0.2     Setosa  Female
4             5.0          3.6           1.4          0.2     Setosa    Male
..            ...          ...           ...          ...        ...     ...
145           6.7          3.0           5.2          2.3  Virginica    Male
146           6.3          2.5           5.0          1.9  Virginica    Male
147           6.5          3.0           5.2          2.0  Virginica    Male
148           6.2          3.4           5.4          2.3  Virginica    Male
149           5.9          3.0           5.1          1.8  Virginica    Male

     sex
0      0
1      0
2      0
3      0
4      1
..   ...
145    1
146    1
147    1
148    1
149    1

[150 rows x 7 columns]
     sepal.length  sepal.width  petal.length  petal.width    variety  sex
0             5.1          3.5           1.4          0.2     Setosa    0
1             4.9          NaN           NaN          0.2     Setosa    0
2             4.7          NaN           NaN          0.2     Setosa    0
3             4.6          3.1           1.5          0.2     Setosa    0
4             5.0          3.6           1.4          0.2     Setosa    1
..            ...          ...           ...          ...        ...  ...
145           6.7          3.0           5.2          2.3  Virginica    1
146           6.3          2.5           5.0          1.9  Virginica    1
147           6.5          3.0           5.2          2.0  Virginica    1
148           6.2          3.4           5.4          2.3  Virginica    1
149           5.9          3.0           5.1          1.8  Virginica    1

[150 rows x 6 columns]

### Assignment Questions

## Q. to find the total counts of kind of flower

In [44]:
count_flower=file_obj['variety'].value_counts()
count_flower

variety
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64

## Q to find virginica type where pl > 1.5

In [49]:
type_virginica=file_obj[(file_obj['variety']=='Virginica') & (file_obj['petal.length']>1.5)] 
print(type_virginica)
print(type_virginica.shape[0])

     sepal.length  sepal.width  petal.length  petal.width    variety  sex
100           6.3          3.3           6.0          2.5  Virginica    1
101           5.8          2.7           5.1          1.9  Virginica    1
102           7.1          3.0           5.9          2.1  Virginica    1
103           6.3          2.9           5.6          1.8  Virginica    1
104           6.5          3.0           5.8          2.2  Virginica    1
105           7.6          3.0           6.6          2.1  Virginica    1
106           4.9          2.5           4.5          1.7  Virginica    1
107           7.3          2.9           6.3          1.8  Virginica    1
108           6.7          2.5           5.8          1.8  Virginica    1
109           7.2          3.6           6.1          2.5  Virginica    1
110           6.5          3.2           5.1          2.0  Virginica    1
111           6.4          2.7           5.3          1.9  Virginica    1
112           6.8          3.0           5.5          2.1  Virginica    1
113           5.7          2.5           5.0          2.0  Virginica    1
114           5.8          2.8           5.1          2.4  Virginica    1
115           6.4          3.2           5.3          2.3  Virginica    1
116           6.5          3.0           5.5          1.8  Virginica    1
117           7.7          3.8           6.7          2.2  Virginica    1
118           7.7          2.6           6.9          2.3  Virginica    1
119           6.0          2.2           5.0          1.5  Virginica    1
120           6.9          3.2           5.7          2.3  Virginica    1
121           5.6          2.8           4.9          2.0  Virginica    1
122           7.7          2.8           6.7          2.0  Virginica    1
123           6.3          2.7           4.9          1.8  Virginica    1
124           6.7          3.3           5.7          2.1  Virginica    1
125           7.2          3.2           6.0          1.8  Virginica    1
126           6.2          2.8           4.8          1.8  Virginica    1
127           6.1          3.0           4.9          1.8  Virginica    1
128           6.4          2.8           5.6          2.1  Virginica    1
129           7.2          3.0           5.8          1.6  Virginica    1
130           7.4          2.8           6.1          1.9  Virginica    1
131           7.9          3.8           6.4          2.0  Virginica    1
132           6.4          2.8           5.6          2.2  Virginica    1
133           6.3          2.8           5.1          1.5  Virginica    1
134           6.1          2.6           5.6          1.4  Virginica    1
135           7.7          3.0           6.1          2.3  Virginica    1
136           6.3          3.4           5.6          2.4  Virginica    1
137           6.4          3.1           5.5          1.8  Virginica    1
138           6.0          3.0           4.8          1.8  Virginica    1
139           6.9          3.1           5.4          2.1  Virginica    1
140           6.7          3.1           5.6          2.4  Virginica    1
141           6.9          3.1           5.1          2.3  Virginica    1
142           5.8          2.7           5.1          1.9  Virginica    1
143           6.8          3.2           5.9          2.3  Virginica    1
144           6.7          3.3           5.7          2.5  Virginica    1
145           6.7          3.0           5.2          2.3  Virginica    1
146           6.3          2.5           5.0          1.9  Virginica    1
147           6.5          3.0           5.2          2.0  Virginica    1
148           6.2          3.4           5.4          2.3  Virginica    1
149           5.9          3.0           5.1          1.8  Virginica    1
50
50

## printing min , max , mean for each kind of flower

In [51]:
stats=file_obj.groupby('variety').agg(['min','max','mean'])
stats

           sepal.length             sepal.width                petal.length  \
                    min  max   mean         min  max      mean          min
variety
Setosa              4.3  5.8  5.006         2.3  4.4  3.441667          1.0
Versicolor          4.9  7.0  5.936         2.0  3.4  2.770000          3.0
Virginica           4.9  7.9  6.588         2.2  3.8  2.974000          4.5

                          petal.width             sex
            max      mean         min  max   mean min max  mean
variety
Setosa      1.9  1.466667         0.1  0.6  0.246   0   1  0.92
Versicolor  5.1  4.260000         1.0  1.8  1.326   1   1  1.00
Virginica   6.9  5.552000         1.4  2.5  2.026   1   1  1.00

## Data Extracting from terrorism data

## Q. Finding Most active group in J&K and total attack by them

In [2]:
import numpy as np
import pandas as pd
import csv

file_obj=pd.read_csv('terrorismData.csv')
#print(file_obj.head())
j_k_data=file_obj[file_obj['State']=='Jammu and Kashmir']

j_k_data_filtered=j_k_data[j_k_data['Group']!='Unknown']  ## Exluding Unkown entries of Group column  

most_active_group=j_k_data_filtered['Group'].value_counts().idxmax()

total_attack=j_k_data_filtered[j_k_data_filtered['Group']==most_active_group].shape[0]
print(f"Most Active group in J&K: {most_active_group}")
print(f"count of attack by {most_active_group}: {total_attack}")

Most Active group in J&K: Hizbul Mujahideen (HM)
count of attack by Hizbul Mujahideen (HM): 193

## Finding country with highest number of terror attack and in which year most attack happened

In [7]:
dang_country=file_obj['Country'].value_counts().idxmax()
print(f"Country with highest number of terror attack: {dang_country}")

year_data=file_obj[file_obj['Country']==dang_country]

year_with_most_att=year_data['Year'].value_counts().idxmax()
print(f'Year in which most attack happened : {year_with_most_att}')

Country with highest number of terror attack: Iraq
Year in which most attack happened : 2014